openapi: 3.1.0
info:
  title: Incident.io Actions Incidents API
  description: The incident.io REST API provides programmatic access to incidents, alerts, catalog, custom fields, escalations, on-call schedules, status pages, and workflows. Authentication is performed via Bearer tokens issued in the incident.io dashboard.
  version: 2.0.0
  contact:
    name: incident.io Support
    url: https://incident.io
  license:
    name: Proprietary
    url: https://incident.io/terms
  x-generated-from: https://api-docs.incident.io
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.incident.io/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Incidents
paths:
  /incidents:
    get:
      tags:
      - Incidents
      operationId: listIncidents
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
    post:
      tags:
      - Incidents
      operationId: createIncident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /incidents/{id}:
    get:
      tags:
      - Incidents
      operationId: getIncident
      parameters:
      - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
    put:
      tags:
      - Incidents
      operationId: updateIncident
      parameters:
      - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
    ListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Resource'
        pagination_meta:
          type: object
          additionalProperties: true
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
