openapi: 3.1.0
info:
  title: Incident.io Actions Utilities API
  description: The incident.io REST API provides programmatic access to incidents, alerts, catalog, custom fields, escalations, on-call schedules, status pages, and workflows. Authentication is performed via Bearer tokens issued in the incident.io dashboard.
  version: 2.0.0
  contact:
    name: incident.io Support
    url: https://incident.io
  license:
    name: Proprietary
    url: https://incident.io/terms
  x-generated-from: https://api-docs.incident.io
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.incident.io/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Utilities
paths:
  /utilities/identity:
    get:
      tags:
      - Utilities
      operationId: getIdentity
      summary: Test API key identity
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
  /utilities/openapi-v2:
    get:
      tags:
      - Utilities
      operationId: getOpenApiV2
      summary: Get the OpenAPI v2 definition
      responses:
        '200':
          description: OK
  /utilities/openapi-v3:
    get:
      tags:
      - Utilities
      operationId: getOpenApiV3
      summary: Get the OpenAPI v3 definition
      responses:
        '200':
          description: OK
components:
  schemas:
    Resource:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
